numpy
pandas
streamlit
openpyxl
matplotlib
pingouin 
plotly.express
plotly
factor-analyzer
fpdf
xlsxwriter
streamlit
pandas
matplotlib
numpy
plotly
factor-analyzer
fpdf
xlsxwriter
openpyxl
streamlit
pandas
matplotlib
numpy
plotly
factor-analyzer
fpdf
xlsxwriter
openpyxl
altair<5
